.header {
  display: inline;
  margin-right: 1rem;
}


ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #111111;
}

.controls {
  padding: 1rem;
  display: block;
  border: 1px solid #ddd;
}

.pdfContainer {
  padding: 1rem;
  margin: 1rem;
  height: 100vh;
  border: 1px solid #000;
}
